*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.form-container{
    height: 620px;
    width: 1000px;
    background-color: gray;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 70px;
    width: 100%;
    background-color: blue;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
}
.header h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.gender{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 150px;
    width: 300px;
    background-color: lightgray;
    font-size: 15px;
    margin: 30px;
}
.gender h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.gender input{
    border: none;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.gender input:focus{
    outline: none;
}
.gender label{
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.gender-option{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.attributes{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 300px;
    width: 300px;
    background-color: lightgray;
    font-size: 15px;
    margin: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.atrributes h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.information{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.information input{
    border-style: solid;
    padding: 5px;
    border-width: 2px;
    width: 240px;
    height: 25px;
    border: none;
}
.information input:focus{
    outline: none;
}
