*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    flex-direction: column;
}
.form-container{
    display: flex;
    flex-direction: row;
    height: 540px;
    width: 1000px;
    background-color: gray;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 70px;
    width: 1000px;
    background-color: blue;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
}
.header h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.gender{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 150px;
    width: 300px;
    background-color: lightgray;
    font-size: 15px;
    margin: 30px;
}
.gender h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.gender input{
    border: none;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.gender input:focus{
    outline: none;
}
.gender label{
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.gender-option{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.attributes{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 300px;
    width: 300px;
    background-color: lightgray;
    font-size: 15px;
    margin: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.atrributes h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.information{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.information input{
    border-style: solid;
    padding: 5px;
    border-width: 2px;
    width: 240px;
    height: 25px;
    border: none;
}
.information input:focus{
    outline: none;
}
.table-container{
    height: 480px;
    width: 600px;
    background-color: lightgray;
    margin-top: 30px;
    position: relative;
}

.table-container h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    padding: 20px;
}
table{
    height: 50px;
    width: 500px;
    margin: 40px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: none;
    border-collapse: collapse;
}
table th{
    background-color: blue;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border: none;
    color: white;
}
table td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border: none;
}

.button-container{
    display: flex;
    justify-content: left;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.button-container button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


