*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 300px;
    width: 400px;
    margin: 30px;
    padding: 20px;;
    border-radius: 10px;
    background-color: rgb(146, 3, 146);
}

.form-container form h1{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-container form input{
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.form-container form input:focus{
    outline: none;
}
.form-container form button{
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.form-container form button:hover{
    background-color: purple;
    color: white;
    transition: 0.3s;
}
.display-container{
    height: 120px;
    width: 400px;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(146, 3, 146);
}

.display-container p{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.container{
    max-height: 600px;
    background-color: violet;
    border-radius: 25px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#error{
    color: red;
    text-align: center;
    font-weight: bold;
}